p= t('modal question ' + type + ' shareable', {name: model.get('name')})
p
    button.button.btn-cozy#share-public= t('public')
    | &nbsp;
    button.button.btn-cozy#share-private= t('private')


if clearance == 'public'
  p= t('modal shared ' + type + ' link msg')
  input(value=makeURL()).form-control

else

  p= t('only you can see')
  input#share-input.form-control(type="text", placeholder=t('modal shared ' + type + ' custom msg'))
  ul#share-list
    each rule, i in clearance
      - var key = rule.key
      li
        a.show-link(data-key=key,title=t("see link"),href=makeURL(key))
          i.glyphicon.glyphicon-link
        |  &nbsp; &nbsp;
        = rule.email
        - var keys = Object.keys(possible_permissions)
        if keys.length > 1
          select.changeperm(data-key=key)
            each display, perm in possible_permissions
              option(value=perm, selected=rule.perm==perm)= ' ' + t('perm') + t(display)
        else
          = ' ' + t('perm') + possible_permissions[keys[0]]

        a.pull-right.revoke(data-key=key, title=t("revoke")): i.icon-remove